{{outlet}}

<div class="pwg_link-to-service-list">
{{#link-to 'services'}}Service Liste bearbeiten{{/link-to}}
</div>

<div class="pwg_selected-service-container">
  {{ input value=selectedService focus-in="selectedServiceGainsFocus" class="pwg_input-service form-control" placeholder="Service Name" }}

  {{#if showServiceList}}
    <div style="position:relative">
      <ul class="pwg_filtered-services">
        {{#each service in filteredServices}}
          <li><button class="btn btn-link" type="button" role="button" {{action 'setSelectedService' service.serviceName}}>{{ service.serviceName }}</button></li>
        {{/each}}
        {{#if isSaveAble}}
          <li><button class="btn btn-link" type="button" role="button" {{action 'saveService' service.serviceName}}>Save Service</button></li>
        {{/if}}
      </ul>
    </div>
  {{/if}}
</div>

{{ input value=salt action="generatePassword" on="enter" class="pw_input-phrase form-control" placeholder="Secret Phrase"}}

<div class="pwg_generate-button-container">
  <button type="button" {{action 'generatePassword' }} class="btn">Generate!</button>
</div>